section{

    display: flex;
    align-items: flex-end;

    .vl {
            border-left: 3px solid grey;
            height: 14rem;
            margin-left: 2rem;
        }

    .text-content{
        

        h4{
            color: white;
        }

    }

}