
<section>
    
    <div class="vl"></div>

    <div #animado class="left-content" [@slideInLeft]="animationState">
        <div class="text-content">
            <h3>Quem somos?</h3>
            <h4>Somos uma empresa focada <br>
            em eventos e networking!</h4>
        </div>
        <div class="image-content">
            <img src="/quemSomos.jpg">
        </div>
    </div>
    </section>

   
        <app-carrousel></app-carrousel>

    <app-msv></app-msv>
    <app-footer></app-footer>
    <app-mascote></app-mascote>

    <br><br><br>