
<section>
    
    <div class="vl"></div>

    <div class="left-content">
        <div class="text-content">
            <h3>Quem somos?</h3>
            <h4>Somos uma empresa focada <br>
            em eventos e networking!</h4>
        </div>
        <div class="image-content">
            <img src="https://media.canva.com/v2/image-resize/format:PNG/height:1200/quality:100/uri:ifs%3A%2F%2FM%2Ffa1774a1-ef1d-4453-9b2d-9d574717f3ee/watermark:F/width:1600?csig=AAAAAAAAAAAAAAAAAAAAAE8g-B83hQiQC624Q5uQq9Dogoah8EYB1t9WNUiqpbkn&exp=1747336820&osig=AAAAAAAAAAAAAAAAAAAAADcSytTYRvw_SJjGq0Kw4HzXMIi152_6d87N1hflQl10&signer=media-rpc&x-canva-quality=screen_2x">
        </div>
    </div>
    </section>

    <br><br><br>