.corujinha-container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    user-select: none;

    img {
        width: 80px;
        transition: transform 0.3s;
    }

    &:hover img {
        transform: scale(1.05);
    }

    .fala-balao {
        background-color: #fff;
        color: #333;
        border-radius: 1rem;
        padding: 0.6rem 1rem;
        margin-top: 0.5rem;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        font-size: 14px;
        max-width: 220px;
        text-align: center;
        position: relative;
        font-family: Inter;

        &::after {
            content: '';
            position: absolute;
            top: -10px;
            left: 30%;
            border-width: 0 10px 10px 10px;
            border-style: solid;
            border-color: transparent transparent #fff transparent;
        }
    } }