
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1C249A;
    background: linear-gradient(180deg, rgba(28, 36, 154, 1) 21%, rgba(0, 0, 0, 1) 100%);
}