@import url(../../styles.scss);

section{

    margin-top: 20vh;

    display: flex;
    align-items: center;
    font-family: Inter;
    gap: 15px;

    .text-content{
        display: flex;
        flex-direction: column;
        color: white;

        h2{
            font-size: 96px;
        }
        h3{
            font-size: 20px;
        }
    }

    img{
        width: 200px;
        height: auto;

        &.float {
            animation: float 3s ease-in-out infinite;
        }
    }
}

.img-content{
    display: flex;
    justify-content: center;

    .arrowDown {
            width: 6rem;
            filter: invert(96%) sepia(96%) saturate(18%) hue-rotate(18deg) brightness(106%) contrast(104%);   
        }
}


@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
}
