@import url(../../styles.scss);

section{
    display: flex;
    align-items: center;
    font-family: Inter;
    gap: 15px;

    .text-content{
        display: flex;
        flex-direction: column;
        color: white;

        h2{
            font-size: 96px;
        }
        h3{
            font-size: 20px;
        }
    }

    img{
        width: 200px;
        height: auto;
    }
}

