<section>
    <hr class="hl">
    <div class="content-row">
        <div class="vl"></div>

        <div class="content-column">
            <div class="text-content">
                <h2>Missão, Visão e Valores</h2>
            </div>
            <div class="card-content">
                <div class="custom-card">
                    <div class="icon">
                        <img src="/bandeira1.svg" alt="">
                    </div>
                    <div class="text">
                        <h4>Missão</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, dolores.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  