section{    


    .hl {
            height: 3px;
            width: 203px;
            margin-left: 2rem;
            background-color: grey;
            border: none;
        }


    .vl {
        display: inline-block;
        border-left: 3px solid grey;
        height: 33rem;
        margin-left: 2rem;   
    }

        .text-content {
            display: flex;
            align-items: center;
            gap: 1rem;

            h2{
                color: white;
            }
        }

}