section{

    width: 100%;

    .hl {
            height: 3px;
            width: 203px;
            margin-left: 2rem;
            background-color: grey;
            border: none;
        }


    .vl {
        border-left: 3px solid grey;
        height: 33rem;
        margin-left: 2rem;   
    }
}