<section>
    <hr class="hl">
    <div class="content-row">
        <div class="vl"></div>

        <div #animado class="content-column" [@slideInLeft]="animationState">
            <div class="text-content">
                <h2>Missão, Visão e Valores</h2>
            </div>
            <div class="card-content" >
                <div class="custom-card" *ngFor="let item of lista">
                    <div class="icon">
                        <img [src]="item.img" alt=" {{item.titulo}}">
                    </div>
                    <div class="text">
                        <h4>{{item.titulo}}</h4>
                        <p>{{item.texto}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  